{{> navbar}}

<div class="home">
  <div class="home__container">
    <section class="home__introduction is-flex-space-between">

      <div class="home__introduction__information">
        <h3 class="home__introduction__information__greetings">
          {{homeData.grettings}}
        </h3>
        <h1 class="home__introduction__information__title">
          {{homeData.title}}
        </h1>
      </div>

      <div class="home__introduction__social">
        <ul class="home__introduction__social__links">
          {{#each homeData.social as |social key|}}
            <li class="home__introduction__social__link">
              <a href={{social.link}}>
                <figure class="home__introduction__social__media">
                  <img class="home__introduction__social__media__image" src={{social.icon.url}} alt={{social.icon.alt}}>
                </figure>
              </a>
            </li>
          {{/each}}
        </ul>
      </div>

    </section>

    <section class="home__details is-flex">
      <figure class="home__details__media">
        <img src={{homeData.hero_image.url}} alt={{homeData.hero_image.alt}} class="home__details__media_image">
      </figure>

      <div class="home__details__information pt-7 pl-7">
        <h1 class="home__details__information__label mb-4">{{homeData.label}}</h1>
        <h4 class="home__details__information__description">{{homeData.description}}</h4>
      </div>
    </section>

    <div class="home__background">
      {{!-- {{#each homeData.backgroundtext as |text key|}}
        <h1 class="home__background__text">{{text.text}}</h1>
      {{/each}} --}}

      <h1 class="home__background__text">Design</h1>
    </div>
  </div>
</div>
