{{> navbar}}

<div class="home">
  <div class="home__container">
    <section class="home__introduction">

      <div class="home__introduction__information">
        <h3 class="home__introduction__information__greetings">
          {{homeData.grettings}}
        </h3>
        <h1 class="home__introduction__information__title">
          {{homeData.title}}
        </h1>
      </div>

      <div class="home__introduction__social">
        <ul class="home__introduction__social__links">
          {{#each homeData.social as |social key|}}
            <li class="home__introduction__social__link">
              <a href={{social.link}}>
                <figure class="home__introduction__social__media">
                  <img class="home__introduction__social__media__image" src={{social.icon.url}} alt={{social.icon.alt}}>
                </figure>
              </a>
            </li>
          {{/each}}
        </ul>
      </div>

    </section>

    <section class="home__details">
      <figure class="home__details__media">
        <img src="" alt="Prithviraj's Emoji" class="home__details__media">
      </figure>

      <div class="home__details__information">
        <h1 class="home__details__information__label">{{homeData.label}}</h1>
        <h4 class="home__details__information__description">{{homeData.description}}</h4>
      </div>
    </section>

    <div class="home__background">
      {{#each homeData.backgroundtext as |text key|}}
        <h1 class="home__background__text">{{text.text}}</h1>
      {{/each}}
    </div>
  </div>
</div>
